@import "../../assets/variables";
.top-news-page {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 0.8rem;

  @media screen and (min-width: $smallSize) {
    padding: 1rem;
  }

  @media screen and (min-width: $largeSize) {
    width: 80%;
    margin: auto;
  }
}

.top-news-page__title {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0 0.3rem;
  margin: 0.8rem 0;

  @media screen and (min-width: $smallSize) {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 0 3rem;
    margin: 2rem 0;
  }
}

.top-news-page__tiles {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $smallSize) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
