@import "../../assets/varaiables";

.navbar-items {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.navbar-item {
  display: inline-block;
  padding: 0.5rem;
  font-weight: bold;
  text-decoration: none;
}
