@import "../../assets/variables";

.navbar-items {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0 0.5rem;
  font-family: 'Roboto', sans-serif;
  //font-family:'Courier New', Courier, monospace;

  @media screen and (min-width: $smallSize) {
    margin: 0;
  }
}

.navbar-item {
  box-sizing: border-box;
  display: inline-block;
  padding: 0.5rem;
  font-weight: 700;
  text-decoration: none;
  color: $nav-main-color;
   //font-family: 'Roboto', sans-serif;
   

  @media screen and (min-width: $smallSize) {
    padding: 2rem;
    font-size: 1rem;
    text-align: center;
    border-right: 2px solid $nav-second-color;
  }

  @media screen and (min-width: $largeSize) {
    padding: 1.3rem;
    font-size: 1.3rem;
    width: 200px;
    letter-spacing: 0.1rem;
  }
}

.navbar-item--checked {
  color: $nav-active-color;
  background-color: $nav-second-color;
}
