@import "../../assets/variables";

.country-filter {
  display: flex;
  box-sizing: content-box;
  margin: 0.5rem 0.7rem;

  @media screen and (min-width: $largeSize) {
    justify-content: center;
    align-items: center;
  }
}
