@import "../../assets/variables";

.country-filter {
  display: flex;
  box-sizing: content-box;
  margin: 0.5rem 0.7rem;

  @media screen and (min-width: $largeSize) {
    justify-content: center;
    align-items: center;
  }
}

.country-filter-item {
  background-color: white;
  border: none;
  color: $cf-main-color;
  text-align: center;
  padding: 0.3rem;

  @media screen and (min-width: $smallSize) {
    margin: 0.5rem;
    font-weight: bold;
    width: 30px;
    height: 30px;
  }
}

.country-filter-item--checked {
  color: $cf-active-color;
  background-color: $cf-second-color;
}
