$smallSize: 576px;
$mediumSize: 768px;
$largeSize: 992px;
$extraSize: 1200px;

$nav-main-color: rgb(238, 16, 238);
$nav-second-color: darken($nav-main-color, 20);
$nav-active-color: white;

$cf-main-color: rgb(238, 16, 238);
$cf-second-color: darken($cf-main-color, 20);
$cf-active-color: white;
